<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Confirmação de Cadastro</title>
        <style>
            h1{
                color: blue;
                align-content: center;
                
            }
            h2{
                color:red;
                align-content: center;
            }
        </style>
    </head>
    <body>
        <h1><b>CONFIRMAÇÃO DE CADASTRO</b></h1>
        <h2><b> Seja bem vindo, {{name}} ao Party's Place!</b></h2>
        <br>
        <h2> Seu cadastro foi concluído com sucesso! Estamos muito felizes em tê-lo você por aqui.</h2>
    </body>
</html>