<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>REDEFINIÇÃO DE SENHA</title>
        <style>
            h1{
                color: blue;
                align-content: center;
                
            }
            h2{
                color:red;
                align-content: center;
            }
        </style>
    </head>
    <body>
        <h1><b>REDEFINIÇÃO DE SENHA</b></h1>
        <h2><b> Mantenha calma em breve conseguirá acessar novamente o Party's Place!</b></h2>
        <br>
        <h2> Para redefinir sua senha, utilize esse token: {{token}}. Não esqueça que esse link expirará em 1 hora. Após esse tempo será necessário pedir um novo token.</h2>
    </body>
</html>